@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* ------ Basic Loglines Colors ------ */
    --primary-v1: #ffffff;
    --primary-v2: #6e9fd5;
    --primary-v3: #4366b0;
    --primary-v4: #263d88;
    --primary-v5: #272f6d;
    --primary-v6: #0d122b;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 0px !important;
    height: 8px !important;
    margin-bottom: 50px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--loglines-gray-v2);
    border-radius: 14px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--loglines-gray-v3);
    border-radius: 15px !important;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--loglines-gray-v2);
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: var(--loglines-gray-v3);
    border-radius: 15px !important;
    cursor: pointer;
}

.scrollable-content::-webkit-scrollbar * {
    background: transparent;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: transparent;
}

/* dropdown */